package components

templ Tabs(attrs templ.Attributes) {
	<div { mergeAttrs("tabs flex w-max max-w-full rounded-lg bg-muted p-1 [&_.tab.active]:bg-background [&_.tab.active]:text-foreground [&_.tab.active]:shadow-[0_1px_2px_#0003]", withDefault(attrs, "role", "tablist"))... }>
		{ children... }
	</div>
}
